


* {
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.viking{
    width: 300px;
    height: 300px;
    margin-left: 940px;

}

.box-1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 253, 253);

}

main{
    background-color: rgb(237, 236, 238);
    width: 370px;
    height: 712px;
    margin-left: 916px;
    border-radius: 20px;
    padding: 44px 24px 23px;
}

label{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;;

}
select{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
}

option{

    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}
 
input{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
}

button{
    width: 327px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #772FD3; 
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;    

}
section{
    width: 327px;
    height: 276px;
    margin-top: 23px;
    margin-top: 36px ;
    border-radius: 20px;
    border: 1px solid #772FD3;

}

img{
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    margin-top: 15px;
    margin-left: 139px;
}

p{
    text-align: center;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.p-1{
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media screen and ( max-width: 1300px){

    main{
        width: auto;
        height: 1200px;
        margin: 0;
    }
    .viking{
        height: 180px;
        width: 120;
        margin-left: 0;
        display: block;
    }

}
    

